body{
    text-align: center;
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
    background-color: #0ca3cc;
    border: none;
    border-radius: 2px;
    color: #ffffff;
}
 .img-flex{
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
}
.display-temperature{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.text-result{
    background-color: rgb(197, 197, 197);
    border-radius: 2px;
    padding: 0px 5px;
}